@import 'tailwindcss';

@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(50% 0.213 27.518);
  --color-primary-content: oklch(88% 0.062 18.334);
  --color-secondary: oklch(70% 0.213 47.604);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(92% 0.003 48.717);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(17% 0 0);
  --color-base-200: oklch(13% 0 0);
  --color-base-300: oklch(10% 0 0);
  --color-base-content: oklch(98% 0 0);
  --color-primary: oklch(65% 0.213 27.518);
  --color-primary-content: oklch(12% 0.05 27);
  --color-secondary: oklch(78% 0.213 47.604);
  --color-secondary-content: oklch(16% 0.05 47);
  --color-accent: oklch(90% 0 0);
  --color-accent-content: oklch(15% 0 0);
  --color-neutral: oklch(32% 0.01 67.558);
  --color-neutral-content: oklch(92% 0.003 48.717);
  --color-info: oklch(70% 0.16 232.661);
  --color-info-content: oklch(15% 0.05 232);
  --color-success: oklch(70% 0.177 163.223);
  --color-success-content: oklch(15% 0.06 163);
  --color-warning: oklch(80% 0.189 84.429);
  --color-warning-content: oklch(18% 0.08 50);
  --color-error: oklch(65% 0.191 22.216);
  --color-error-content: oklch(14% 0.07 22);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme {
  /* Remove Tailwind palette, as using DaisyUI palette */
  --color-*: initial;
}
