@import 'tailwindcss';

@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #121216;
  --color-base-200: #1a1a20;
  --color-base-300: #24242c;
  --color-base-content: #ededed;
  --color-primary: #9d8cff;
  --color-primary-content: ;
  --color-secondary: #6b66a3;
  --color-secondary-content: #ffffff;
  --color-accent: #f29a8a;
  --color-accent-content: #2a0f0a;
  --color-neutral: #0e0e12;
  --color-neutral-content: #ededed;
  --color-info: #60a5fa;
  --color-info-content: #020617;
  --color-success: #34d399;
  --color-success-content: #022c22;
  --color-warning: #f6a23c;
  --color-warning-content: #2a1600;
  --color-error: #f87171;
  --color-error-content: #450a0a;
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: #f6f6fa;
  --color-base-200: #ededf4;
  --color-base-300: #e1e1ec;
  --color-base-content: #1f2430;
  --color-primary: #8f84ff;
  --color-primary-content: #ffffff;
  --color-secondary: #d0ccf0;
  --color-secondary-content: #2a2a40;
  --color-accent: #f29a8a;
  --color-accent-content: #2a0f0a;
  --color-neutral: #2a2a40;
  --color-neutral-content: #ffffff;
  --color-info: #3b82f6;
  --color-info-content: #ffffff;
  --color-success: #22c55e;
  --color-success-content: #022c22;
  --color-warning: #f59e0b;
  --color-warning-content: #2a1a00;
  --color-error: #ef4444;
  --color-error-content: #ffffff;
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  /* Remove Tailwind palette, as using DaisyUI palette */
  --color-*: initial;
}
